* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #c4c4c4;
}

.App {
    display: block;
    background-color: #c4c4c4;
}

.circle {
    position: fixed;
    border-radius: 50%;
    width: 520px;
    height: 520px;
    top: -260px;
    left: -260px;
    z-index: 1;

    background: rgba(24, 164, 137, 0.48);
    filter: blur(100px);
}

.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;

    background: rgba(24, 164, 137, 0.06);
    filter: blur(4px);
}

.section {
    display: flex;
    margin: 0 102px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
