.bottom-nav {
    z-index: 3;
    display: flex;
    position: fixed;
    bottom: 42px;
    left: 104px;
}

.bottom-nav-link:not(:first-child) {
    margin-left: 62px;
}

.bottom-nav-link button {
    cursor: pointer;
    font-size: 24px;
    padding: 24px 62px;

    background: #c4c4c4;
    border: 1px rgba(250, 242, 242, 0.25);
    box-shadow: 0px 4px 4px rgba(250, 242, 242, 0.25);
    border-radius: 7px;
}

.bottom-nav-link.active button {
    border: 3px solid #fff9f9;
}
