.bottom-nav {
    display: flex;
    position: absolute;
    bottom: 53px;
    left: 104px;
}

.bottom-nav-link {
    margin-left: 62px;
}

.bottom-nav-link button {
    font-size: 28px;
    padding: 24px 74px;

    background: #c4c4c4;
    border: 1px rgba(250, 242, 242, 0.25);
    box-shadow: 0px 4px 4px rgba(250, 242, 242, 0.25);
    border-radius: 7px;
}

.bottom-nav-link.active button {
    border: 3px solid #fff9f9;
}
