.greetings-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
}

.flex-right {
    display: flex;
    margin-left: auto;
}

.flex-right img {
    border-radius: 50%;
    width: 242px;
    height: 242px;
}
