.top-nav {
    display: flex;
    position: fixed;
    top: 53px;
    right: 53px;
    width: max-content;
    z-index: 5;
}

.top-nav > .nav-link {
    display: block;
    margin-right: 53px;
    cursor: pointer;
    font-size: 28px;
    text-decoration: none;
    color: black;
}

.top-nav > .nav-link.active::after {
    content: '';
    background-image: url('../assets/nav-arrow.png');
    width: 10px;
    height: 10px;
    display: flex;
    margin: 0 auto;
}
